@use "app.css";
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  color: whitesmoke;
  background-image: url(images/pexels-Dark-Room.jpg);
}
#mainContainer {
  height: 100%;
}
#blurContainer {
  height: 90%;
  width: 90%;
}
.secoundMovies, .firstMovies, .sideBarMovie {
  transition: transform 0.3s;
}
.secoundMovies:hover, .firstMovies:hover, .sideBarMovie:hover {
 transform: scale(1.2);
}
/*navigation left*/
#sideNav {
  font-size: 25px;
  padding: 0.5rem;
  a {
    display: flex;
    justify-content: center;
  }
}
.redBackground {
  background-color: red;
  border-radius: 100%;
}
/*left side of main box*/
#sideBar {
  height: 95%;
  width: 20%;
  gap: 15px;
}
.SideBarMovieHeader {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  gap: 10px;
  i {
    color: orange;
  }
}
.sideBarMovieContainer {
  width: 100%;
  height: 100%;
}
.sideBarMovie {
  width: 85%;
  height: 30%;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: end;
  gap: 10px;
  .sideBarText {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    opacity:  80%;
    border-radius: 0 0 20px 20px;
  }
   
}
.sideBarChoiceList {
  width: 85%;
  :hover {
    i {
      color: red;
    }
    p {
      font-weight: bold;
    }
  }
  .SideBarMovieHeader:hover {
    i {
      color: orangered;
    }
  }
  .individualSideBarChoice {
    display: flex;
    font-size: 12px;
  }
  /*right side of main box*/
}
.secoundaryRightContainer {
  height: 100%;
  width: 100%;
  #topNav {
    width: 95%;
    height: 15%;
    gap: 5%;
    margin: 0;
    #searchBar input {
      border-radius: 10px;
      width: 20rem;
      height: 2rem;
    }
    #userLogo {
      gap: 5%;
      #profilePicture {
        width: 50px;
        height: 50px;
        background-size: cover;
        border-radius: 100%;
        background-image: url(images/pexels-profile.png);
      }
    }
  }
}
.hero {
  height: 50%;
  width: 95%;
  overflow: hidden; 
  border-radius: 20px;
 
}
#heroTitle {
  margin-left: 5%;
  img {
    width: 10%;
    height: 100%;
  }
  .heroTextAlignment {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    gap: 5px;
  }
  #clickToWatch {
    background-color: red;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
  }
  #whiteCross {
    background-color: rgb(143, 143, 143);
    padding: 5px 10px;
    border-radius: 10px;
    i {
      font-size: 20px;
      font-weight: 100;
    }
  }
}
/*movie rows*/
.mainMoviesContainer {
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 2%;
  h3 {
    width: 95%;
    font-size: x-large;
    text-align: start;
  }
  .firstMovieRow {
    width: 95%;
      height: 100%;
      gap: 2rem;
    
      .firstMovies {
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 20px;
      display: flex;
      align-items: flex-end;
      .text {
        background-color: black;
        width: 100%;
        height: 20%;
        opacity: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 0 0 20px 20px;
      }
    }
  }
  .secoundMovieRow {
    width: 95%;
      height: 80%;
      gap: 2rem;
    .secoundMovies {
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      i {
        display: flex;
      margin-bottom: 10%;
      margin-top: 10%;
      justify-content: center;
      }

      .secoundRowText p {
        margin-left: 5%;
    }
  }
}
#progressBar {
  width: 90%;
  height: 10%;
  display: flex;
 margin-bottom: 5%;
 margin-left: 5%;
 margin-right: 5%;
  #redSide{
background-color: red;
border-radius: 20px 0 0 20px;
width: 70%;
  }
  #whiteSide{
background-color: lightgrey;
border-radius:0 20px 20px 0;
width: 30%;
  }

}
}
/*individual movies*/
#PB {
  background-image: url(images/peakyBlinders.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  align-items: center;
}

#SAB {
  background-image: url(images/shadowAndBone.png);
}
#TNA {
  background-image: url(images/theNightAgent.png);
}
#TW {
  background-image: url(images/theWitcher.png);
}
#BNN {
  background-image: url(images/brookylnNine-Nine.png);
}
#RP1 {
  background-image: url(images/readyPlayerOne.png);
}
#AED {
  background-image: url(images/ashEvilDead.png);
}
#MH {
  background-image: url(images/moneyHeist.png);
}
#RN {
  background-image: url(images/redNotice.png);
}
#EX {
  background-image: url(images/extraction.png);
}
#TAP {
  background-image: url(images/theAdamProject.png);
}
#TOG {
  background-image: url(images/theOldGuard.png);
}
